@import "../css/root.module.css";
*{
    font-family: var(--font);
}

.container{
    background-color: var(--other-color);
    border-radius: 10px;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
}

.logoDiv{
    width: 50%;
    position: relative;
}

.logoDiv img{
    width: 100%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
}

.formDiv{
    position: relative;
    width: 50%;
    text-align: center;
}

.formDiv img{
    display: none;
}

.formDiv h1{
    text-align: center;
    text-wrap: wrap;
    font-size: 16px;
    margin-top: 50px;
    color: var(--principal-color);
}

.formDiv svg{
    font-size: 80px;
    margin: 40px 0 0 0;
    border: 1px solid var(--principal-color);
    border-radius: 50px;
    color: var(--principal-color);
}

.formDiv form{
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    margin-top: 60px;
}



.formDiv form input{
    width: 70%;
    height: 40px;
    margin: 20px 0 0 0;
    border: none;
    border-bottom: 2px solid var(--principal-color);
    text-align: center;
    background-color: var(--other-color);
}

.formDiv form input:focus{
    outline: 0;
}

.formDiv form input[type="submit"]{
    width: 30%;
    margin-top: 50px;
    background-image: linear-gradient(to right bottom, var(--principal-color), var(--secondary-color));
    border: none;
    border-radius: 5px;
    color: var(--other-color);
    font-size: 14px;
    font-weight: bolder;
    transition: all 0.5s ease;
}

.formDiv form input[type="submit"]:hover{
    width: 35%;
    background-image: linear-gradient(to left top, var(--principal-color), var(--secondary-color));
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


/* CSS para as telas responsivas (vários dispositivos) */


@media(max-width: 900px){
    .container{
        width: 95%;
    }

    .formDiv h1{
        margin-top: 200px;
    }

    @media(max-height: 1300px){
        .container{
            height: 70%;
        }

        .formDiv h1{
            margin-top: 90px;
        }
    }
}

@media(max-width: 650px){
    .container{
        flex-direction: column;
        width: 90%;
    }

    .logoDiv{
        display: none;
    }

    .formDiv{
        position: unset;
        width: 100%;
    }

    .formDiv img{
        display: inline-flex;
        width: 40%;
    }

    .formDiv h1{
        text-wrap: wrap;
        margin-top: 0;
    }

    .formDiv svg{
        margin-top: 20px;
        font-size: 38px;
    }

    .formDiv form {
        position: relative;
        margin-top: -80px;
    }

    .formDiv form input[type="number"], .formDiv form input[type="number"]{
        margin: 30px 0 30px 0;
    }

    @media(max-height: 750px){
        .container{
            height: 85%;
        }
    }
}

@media(max-width: 1300px){
    @media(max-width: 900px){
        .container{
            height: 90%;
        }

        .logoDiv img{
            width: 60%;
        }

        .formDiv h1{
            margin-top: 50px;
        }
    }
}